form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.input{
    width: 100%;
    padding: 11px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 8px;
}

.button {
    background-color: #a6eaa8; 
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}